header{
	background-color: cornflowerblue;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

section{
	position: static;
}

footer {
	background-color: red;
	position: fixed;
	text-align: center;
	left: 0;
	bottom: 0;
	height: 5%;
	width: 100%;
}

#headerLink{
	color: black;
	text-align: center;
	text-decoration: none;
}

#footerLink{
	color: green;
	text-decoration: none;
}


h1{
	color: white;
	text-align: center;
	text-decoration: none;
}

a{
	text-decoration: none;
}

#logo{
	text-align: center;
}

#cotcotLogo{
	max-width: 50%;
}
