#blueBar{
	background-color: #6495ed; 
}

h1{
	color: white;
	text-align: center;
	text-decoration: none;
}

#linkBlueBar{
	background-color: #6495ed; 
}

footer {
	position: absolute; 
	bottom: 10;
	background-color: red;
}