header{
	background-color: cornflowerblue;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

footer {
	background-color: red;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 5%;
	width: 100%;
}

h1{
	color: white;
	text-align: center;
	text-decoration: none;
}


#link{
	text-align: center;
	text-decoration: none;
}
